body {
  margin: 0;
  font-size: 1em;
}

::selection {
  background-color: tomato;
  opacity: 0.3;
  color: white;
}

::-moz-selection {
  background-color: tomato;
  opacity: 0.3;
  color: white;
}
/*
.block {
  position: absolute;
}

.red {
  background-image: url(assets/img/red.png);
  width: 589px;
  height: 506px;
}

.blue {
  background-image: url(assets/img/blue.png);
  width: 945px;
  height: 527px;
  left: 332px;
  top: -1px;
}

.orange {
  background-image: url(assets/img/orange.png);
  width: 644px;
  height: 551px;
  left: 632px;
  top: 153px;
}

.yellow {
  background-image: url(assets/img/yellow.png);
  width: 382px;
  height: 329px;
  left: 0px;
  top: 387px;
}

.black {
  background-image: url(assets/img/black.png);
  width: 509px;
  height: 286px;
  left: 226px;
  top: 421px;
}
*/
svg {
  box-sizing: border-box;
  margin: 8px auto;
  max-width: calc(100vw - 16px);
  height: auto;
  display: block;
}

@media handheld, screen and (max-height: 500px), (orienation:portrait), {
  svg {
    display: none;
  }
}

polygon {
  -webkit-transition: -webkit-transform 1s ease;
  -moz-transition: -moz-transform 1s ease;
  -ms-transition: -ms-transform 1s ease;
  -o-transition: -o-transform 1s ease;
  transition: transform 1s ease;
}

:target polygon {
  -webkit-transform: translate(-1000px, -1000px);
  -moz-transform: translate(-1000px, -1000px);
  -ms-transform: translate(-1000px, -1000px);
  -o-transform: translate(-1000px, -1000px);
  transform: translate(-1000px, -1000px);
}
